target
config.properties
klasses/automations/
klasses/edcresconfig/
klasses/goodkb/
klasses/instances/
klasses/workflows/
inodes.db.*
.idea
backup
files
application.properties
src/main/resources/static/config.js
src/main/resources/static/migrate
src/main/resources/static/infa.png
src/main/resources/static/infautils.js
src/main/resources/static/instance_importer.py.py
vcs