body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.ide {
    width: 100%;
    height: 100%;
    display: block;
}

.ide-left {
    background-color: lightblue;
    height: 100%;
    width: 30%;
    float: left;
    overflow: hidden;
}

.ide-right {
    height: 100%;
    width: 70%;
    float: left;
}


.ide-projectviewer {
    padding-top: 10px;
    overflow: auto;
    height: 100%;
}

.project-dir {
    padding-left: 15px;
}

.ide-sourceviewer {
    position: relative;
    overflow: hidden;
}

.ide-sourceviewer-tabs {
    width: 100%;
    height: 30px;
    position: absolute;
    background-color: lightyellow;
}

.ide-sourceviewer-src {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ide-sourceviewer-srccode {
    display: block;
    width: 100%;
    height: 98%;
    padding-top: 10px;
    overflow: auto;
    padding: 10px;
    font-size: 18px;
}
.ide-sourceviewer-tab {
    border-right: solid 1px black;
    padding: 10px;
}

.project-item {
    display: block;
}

.project-item:hover {
    background-color: yellow;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: decimal !important;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #fff;
}

pre.prettyprint {
    border: none;
    padding-left: 40px;
}