.right-w15 {
    width: 20%;
    padding-left: 20px;
}
#server-messages {
    float: right;
}
#logout {
    display: none;
}
body {
    margin: 0px;
    font-size: 1.1em;
    /* background-color: #f3f6fd; */
    font-family: "DM Sans", sans-serif;
}

.tag-hits {
    color: gray; 
    font-size: 0.8em
}

.inode-comment-card {
    text-align: right;
    padding: 3px;
    border-top: solid 1px lightgray;
    display: block;
}

.inode-comments-pane {
    display: none;
}

#tags-editor, #private-post {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px gray;
    resize: none;
}

#private-post-panel {
    float: right;
    position: absolute;
    right: 10px;
}

.tag-container {
    
    /* SO styling */
    
    background: #e1ecf4;
    color: #39739d;

    font-size: 0.8em;
    cursor: pointer;
    margin: 3px 3px;
    padding: 4px 6px;
    border-radius: 3px;
    display: inline-block;
}

.tag-has-tooltip, .inode-share-has-tooltip {
    position: relative;
    display: inline-block;
}

.inode-share-tooltip {
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 20px;
    display: none;
    border: solid 1px gray;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    max-width: 300px;
    min-width: 300px;
}

.tag-tt-btn {
    cursor: pointer;
    font-size: 0.8em;
    color: darkblue;
    margin-right: 6px;
    font-weight: bold;
}

.tag-tt-title-container {
    white-space: nowrap;
}

.tag-tooltip {
    visibility: hidden;
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 5px 10px;
    display: block;
    border: solid 1px gray;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    max-width: 300px;
    min-width: 300px;
}

.tag-tooltip::after, .inode-share-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

.tag-tt-title {
    display: block;
}

.tag-ttc-desc {
    font-size: 0.9em;
}

.tag-ttc-doccount {
    font-size: 0.8em;
    font-weight: bold;
}

.posts-trending {
    display: flex;
}

.paginator-pages {
    text-align: center;
}

.inode-actions {
    float: left;
    margin: 10px 0px 0px 0px;
}
.inode-actions-list {
    width: 100%;
    float: left;
    font-weight: 200;
}

.inode-action {
    cursor: pointer;
    color: gray;
    margin: 5px;
    font-size: 88%;
    padding: 3px 0px;
}

.inode-action:hover {
    color: black;
}

.inode-action-upvote {
    color: gray;
    margin-right: 5px;
}

.inode-action-downvote:hover,
.inode-action-upvote:hover {
    cursor: pointer;
}

#changenoteeditor {
    margin-top: 10px;
}

#changenote-editor {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px gray;
    resize: none;
    padding: 10px;
}

.posts-and-tags {
    display: flex;
}

.inode-tag-owner {
    width: 100%;
    float: left;
}

.inode-tag-owner-actions {
    display: block;
    padding-top: 10px;
}

.inode-tag-actions {
    display: flex;
    flex-direction: column;
    float: left;
}

.ppane {
    padding-top: 10px;
    margin: 0px 5px
}

.left-w85 {
    width: 80%;
}

.inode-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    border: solid 1px #dadde6;
    border-radius: 5px;
    background-color: white;
}

.inode-user-time {
    float: right;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    background-color: #e1ecf4;
    border: solid 1px transparent;
    color: #39739d;
}

.searcher-posts {
    display: flex;
    flex-direction: column;
}

.tags-container {
    margin-top: 20px;
    float: left;
}

.searchbox {
    width: 100%;
    font-size: 1.3em;
    border-radius: 5px;
}

.searchbox-container {
    height: 100%;
    padding: 10px;
    width: 98%;
    display: inline-block;
    text-align: center;
}

#editor-pane {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: none;
    position: relative;
}

.left-top-ui {
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.loginui,
#login,
#signup {
    display: none;
}

.posts-container {
    margin-top: 10px;
    min-height: 100%;
    position: relative;
}

.loginui {
    display: inline;
}

.title {
    font-size: 24px;
    
    padding: 3px 10px;
    border: solid 1px transparent;
    border-radius: 3px;
    font-size: 22px;
    vertical-align: middle;
}

.title > a {
    text-decoration: none;
}

.title-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    padding: 5px 10px 7px 10px;
    font-weight: bolder;
    background-color: #fafafb;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}

.maxwidth {
    max-width: 1200px;
}

.content {
    margin: auto;
    margin-top: 40px;
}

.editor-closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 50%;
}

.paginator-page-btn:hover,
.paginator-selected {
    background-color: black;
    color: white;
    cursor: pointer;
}

.paginator-page-btn {
    display: inline-block;
    padding: 3px 6px;
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px;
    font-weight: bolder;
}
.inode-postowner, .inode-posttime {
    font-size: 0.9em;
    display: block;
}

.inode-postowner {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar-item {
    padding-left: 10px;
}

.action-item {
    font-weight: normal;
    font-size: 0.9em;
}

.inode-context-btn {
    margin: 0px 4px;
    font-size: 0.9em;
}

.inode-context-btn:hover {
    color: red;
}

.inode-context-btns {
    color: #ccc;
    font-weight: bolder;
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    visibility: hidden;
}

.inode-container:hover .inode-context-btns {
    color: black;
    visibility: visible;
}

.fullscreen-inode {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    padding: 20px;
    overflow: auto;
    z-index: 10001;
}

.fullscreen-inode > div {
    position: relative;
}

.closefullscreen-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 1.5em;
}

.fade-out {
animation: fadeOut ease 8s;
-webkit-animation: fadeOut ease 8s;
-moz-animation: fadeOut ease 8s;
-o-animation: fadeOut ease 8s;
-ms-animation: fadeOut ease 8s;
}
@keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

@-moz-keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

@-webkit-keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

@-o-keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

@-ms-keyframes fadeOut {
0% {
    opacity:1;
}
100% {
    opacity:0;
}
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}
    
    /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}
    
    /* Handle */
::-webkit-scrollbar-thumb {
    background: indigo;
    border-radius: 5px;
}

.inode-comment-action-btn {
    font-size: .8em;
    color: lightgray;
    cursor: pointer;
    margin-left: 15px;
}

.comment-action-btn:hover {
    color:gray;
}

input {
    padding: 5px;
    margin: 2px;
}

button {
    padding: 5px 10px;
}

select {
    padding: 5px;
}

#kclasses {
    width: 50%;
}

.inodes-file-picker-container {
    background-color: white;
    position: fixed;
    top: auto;
    display: block;
    padding: 30px;
    left: 40px;
    top: 40px;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    box-shadow: 1px 1px 2px black, 0 0 50px black, 0 0 2px black;
}

.inodes-file-picker-user-files {
    margin: 20px 0px;
    overflow: auto;
    max-height: 65%;
}

.user-file-table {
    width: 100%;
    text-align: center;
}

.user-file-cell {
    padding: 10px;
    word-break: break-all;
}

.user-file-row:hover {
    background-color: lightgrey;
}

.inodes-file-picker-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.inodes-file-picker-btn {
    margin: 3px;
}

img {
    max-width: 100%;
}

.inodes-file-picker-fileupload-container {
    width: 95%;
    height: 150px;
    margin: auto;
}

.inodes-file-picker-fileupload-zone {
    border: dashed 3px gray;
    text-align: center;
    vertical-align: center;
    border-radius: 5px;
}

.inodes-file-picker-fileupload-zone, .inodes-file-picker-preview {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.inodes-file-picker-helper-label {
    position: absolute;
    margin: auto;
    top: 60px;
    left: 40%;
}

.drop-zone--over {
    border: solid 3px gray;
}

.no-post-found {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 1.3em;
}

.tabulate-cell {
    padding: 5px 10px;
}


.search-wrapper {
    border-radius: 5px;
    background-color: #fff;
    padding-right: 12px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1f1c2e;
    border: solid 1px lightgray;
    /* box-shadow: 0 2px 6px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1); */
    overflow: hidden;
}
  
.search-input {
    border: none;
    outline: none;
    height: 100%;
    font-size: 1.1em;
    background-color: #fff;
    color: #1f1c2e;
}


.new-has-tooltip {
    position: relative;
    display: inline-block;
}

.new-tooltip {
    visibility: hidden;
    background-color: white;
    padding: 5px 10px;
    display: block;
    border: solid 1px gray;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0%;
    margin-top: 10px;
    margin-right: 0px;
    color: black;
    font-size: 1.1em;
}

.new-has-tooltip:focus > .new-tooltip {
    visibility: visible;
}

.new-tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    right: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
}

.new-actions {
    word-wrap: unset;
    padding: 5px 10px;
    white-space: nowrap;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.new-actions:hover {
    background-color: lightgray;
}

.title-left-panel {
    margin-right: 10px;
}

.title-right-panel {
    margin-left: 10px;
    display: none;
}

.title-box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: auto;
    width: 100%;
    align-items: center;
}

.title-mid-panel {
    flex-grow: 1;
}

.notification-btn {
    color: #1f1c2e;
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.add-btn {
    background-color: #0095ff;
    color: white;
    font-size: 13px;
    padding: 5px 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4);
    border: solid 1px transparent;
    border-radius: 3px;
}

.profile-btn {
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    margin-left: 15px;
    background: transparent;
}

.profile-btn > span {
    font-size: 22px;
    margin-top: -7px;
}

.notification-btn, .profile-btn, .add-btn {
    cursor: pointer;
}


/* story board */
.storyboard-backbtn {
    margin-right: 10px;
}

.storyboard-title {
    font-size: 0.9em;
}

.storyboard-titlebar {
    padding: 10px 0px;
}

.storyboard-content {
    border: dashed 1px #dadde6;
    padding: 20px 20px;
    margin: 10px 0px;
}

.storyboard-nextbtn {
    float: right;
}

.storyboard-errmsg {
    padding: 5px 0px;
    color: red;
}

inode-error {
    width: 95%;
    background-color: red;
    color: white;
    padding: 10px;
    overflow-y: auto;
}

.inode-action-unpin {
    display: none;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.searchbar-icon {
    font-size: 1.6em;
}

.inode-s-container {
    border: solid 1px lightgray;
    width: max-content;
    border-radius: 5px;
}

.inode-s-tag {
    background: #eee;
    padding: 1px 7px;
    border-radius: 3px;
    margin: 0px 2px;
    font-size: 0.8em;
}

.inode-min {
    width: max-content;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.inode-max {
    padding: 15px 15px 10px 15px;
    margin: 20px;
}

.inode-picker {
    display: none;
}

.inode-picker:checked + div {
    border: solid 2px lightgray;
}

.inode-picker:checked + div {
    border: dashed 2px darkgreen;
}

.s-and-s-btn-picked-item {
    justify-content: center-end;
}

.s-and-s-btn-content-and-actions {
    position: relative;
}

.s-and-s-btn-actions {
    position: absolute;
    top: 0px;
    right: 0px;
}

.s-and-s-btn-searchpane {
    padding: 10px;
    display: none;
}

.s-and-s-btn-searchpane > .searcher-posts-container > div:nth-child(2) {
    display: block;
    overflow: auto;
    max-height: 250px;  
}

.form-row {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.form-row label:not(:first-child) {
    padding-left: 20px;
}
.form-row button {
    margin-right: 10px;
}
.form-col {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.p10 {padding : 10px}
.p10x0 {padding : 10px 0px}
.p0x10 {padding : 0px 10px}
.fdrflex { display: flex; align-items: center }
.tagify { flex-grow: 1 }
.form input, .form textarea, .form select {
    outline: none;
    border-radius: 5px;
    padding: 8px 5px;
    border: solid 1px #dadde6;
}
.form-row * { flex-grow: 1; }

.form-row label, .form-col label, .fdrflex label, .form-col button, .form-row button, .fdrflex button {
    flex-grow: 0;
}
.form-row label, .form-col label, .form-label, .form label {
    font-size: 0.9em;
    padding-right: 5px;
}


/* code editor : all code editors should not exceed 500px but, you can set a min-height */
.inodes-code-editor {
    min-height: 100px; max-height: 500px;
    display: flex; flex-direction: column;
    font-size: 16px;
    overflow: auto; 
    border: solid 1px #dadde6;
    border-radius: 5px;
}
.inodes-code-editor > div { display: flex; }
.inodes-code-editor > div, .inodes-code-editor > div > div:nth-child(2) { flex-grow: 1; }

.aexternal::after {
    content: url('/outlink.svg');
    margin-left: 3px;
}

.copyable:hover .copier-btn-container {
    display: block;
}

.copier-btn-container {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 1px 5px;
    border: solid 1px lightgray;
    border-radius: 5px;
    color: lightslategray;
    font-size: 13px;
    cursor: pointer;
    display: none;
}

.copier-btn-container:hover {
    color: white;
    background: #5eba7d;
}