.instances-ip-addr, .instances-urls-label, .instances-add-url, .instances-install-loc, .instances-app-tag, .instances-app-url, .instances-app-urls, .instances-app-user, .instances-app-password , .instances-box-user ,.instances-box-password {
    margin: 5px;
}

.instances-urls-label {
    display: block;
    margin-top: 5px;
}

.instances-remove-url {

}

.instances-card-urls {

}

.instances-card-urltag {

}

.instances-card-url {

}

.instances-card-boxcreds, .instances-card-appcreds {
    margin: 5px;
    margin-right: 10px;
    font-style: italic;
    color: grey;
}

.instances-card-boxusername, .instances-card-boxpassword, .instances-card-appusername, .instances-card-apppassword {
    font-weight: bold;
}

.instances-card-boxlogin {
    display: block;
    padding: 2px;
    border-bottom: solid 1px gray;
}

.instances-card-metadata-container {
}

.instances-card-url-container {
    margin-top: 10px;
}

.instances-card-metatag {
    font-style: italic;
    color: gray;
    margin: 5px;
    padding-right: 10px;
    text-align: right;
}


.instances-suggestions {
    
}

.docker-text {
    display: block;
    padding: 3px;
}

.docker-instance {
    border: solid 3px green;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    margin: 15px;
}

.instances-urltag {
    padding: 5px;
    border-radius: 8px;
    border: solid 1px lightpink;
    display: inline-block;
    margin: 1px 2px;
    text-transform: lowercase;
}

.instances-urltag a::after {
    content: url('./images/outlink.svg');
    margin-left: 3px;
}

.instances-urltag a {
    font-style: italic;
}

.instances-urltag a:visited {
    color: blue;
}

.instances-icons {
    float: right;
    top: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.instances-details {
    float: left;
    width: 90%;
}