.posts-editor-preview {
    display: inline-block;
}
.posts-preview {
    width: auto;
    min-height: 10px;
    padding: 10px;
}
.posts-card-title {
    margin: 5px 0px;
}

.shdn-dark-pre {
    border-left: 2px solid #f47920;
    font-size: 1.1em;
}

.shdn-pre {
    font-size: 1.1em;
    margin-left: 10px;
}

.shdn-code {
}

.shdn-blockquote {
    border-left: 2px solid #f47920;
    padding: 1px 10px;
    background-color: #f1f1f1;
}

.posts-attach-actions {
    margin-top: 10px;
}

.posts-attach-actions > button {
    margin-right: 5px;
}

.attachments-view-attachment {
    display: inline-block;
    margin-right: 10px;
    padding: 2px 10px;
    border: solid 1px #dadde6;
    border-radius: 5px;
    font-size: 0.8em;
}

.posts-img-ctrl {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.posts-txt-ctrl {
    padding: 5px 10px;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
    vertical-align: text-bottom;
}

.posts-txt-ctrl:hover, .posts-img-ctrl:hover {
    background-color: lightgray;
}
.posts-editor-controls {
    background-color: lemonchiffon;
    border: solid 1px gold;
}

.posts-attachments-view {
    padding: 10px 0px;
    display: none;
}

.attachments-view-link {
    padding: 0px 5px;
}

.attachments-view-deletebtn {
    cursor: pointer;
}