.posts-editor-preview {
    display: inline-block;
}
.posts-editor, .posts-title {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    border: solid 1px gray;
    resize: none;
}
.posts-preview {
    width: auto;
    border: solid 1px gray;
    min-height: 10px;
    padding: 10px;
}
.posts-card-title {
    margin: 5px 0px;
}

.shdn-dark-pre {
    border-left: 2px solid #f47920;
    font-size: 1.1em;
}

.shdn-pre {
    font-size: 1.1em;
    margin-left: 10px;
}

.shdn-code {
}

.shdn-blockquote {
    border-left: 2px solid #f47920;
    padding: 1px 10px;
    background-color: #f1f1f1;
}