.applet-chtml + label, .applet-cjs + label, .applet-preview + label { padding: 5px 15px; border: solid 1px lightgray; display: inline-block; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; margin: 0px 1px;}
.applet-chtml:checked + label, .applet-cjs:checked + label, .applet-preview:checked + label { background: lightgray; }
.applet-chtml, .applet-cjs, .applet-preview, .applet-ehtml, .applet-ejs, .applet-epreview { display: none }
.applet-chtml:checked ~ .applet-ehtml, .applet-cjs:checked ~ .applet-ejs { display: flex; min-height: 450px; }
.applet-preview:checked ~ .applet-epreview { padding: 10px; display: block; border: 1px solid #dadde6; min-height: 230px}

.app-console {
    background-color: transparent;
    border: solid 1px lightgray;
    color: black;
    overflow: auto;
    padding: 10px;
    display: none;
    max-height: 200px;
    margin-top: 0px;
}

.app-console-title {
    margin-top: 10px;
    cursor: pointer;
    font-style: underline;
    display: none;
}