.rescreator-resource-search, .rescreator-instance-search {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.rescreator-res-search-input, .rescreator-instance-search-input {
    width: 65%;
}

.rescreator-instance-type-selector {
    margin-bottom: 10px;
}

.rescreator-ressearchresult-container, .instance-ressearchresult-container {
    display: block;
    padding: 10px;
    width: 45%;
    float: left;
    border: solid 1px lightgray;
    margin: 3px;
    border-radius: 3px;
    background-color: whitesmoke;
}

.rescreator-ressearchresult-container:hover, .instance-ressearchresult-container:hover {
    background-color: lightgrey;
}

.rescreator-search-results-ui {
    padding: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

.rescreator-input {
    width: 65%;
    margin-top: 8px;
}

.rescreator-create-btn {
    margin-top: 10px;
}

.inst-searchresult-tag, .res-searchresult-tag {
    padding: 3px;
    background-color: #D1F2EB;
    color: black;
    border-radius: 3px;
    margin-right: 3px;
    border: solid 1px lightgray;
}

div.rescreator-resource-search input[type=text] {
    border: none;
    border-bottom: solid 1px black;
}